<div class="header">
    <div class="header__logo">
<a href="">Logo</a>
    </div>
    <div class="header__menu">
     <ul>
        <li><a href="">about</a></li>
        <li><a href="">contact</a></li>
        <li><a href="">cipolla</a></li>
    </ul>
    </div>
</div>

<style>
    .header{display:flex; justify-content: space-between; padding: 3%}
    .header__menu li{display: inline-block; }
    .header__menu li  a {text-decoration: none; color: white;}
</style>

